<div class="container">
  <h1>Новое событие</h1>
  <%= form_for :event, url: events_path do |f| %>
  <p>
    <%= f.label :"Название(Обязательно)" %> <br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :"Дата(Обязательно)" %> <br />
    <%= f.text_field :event_date, placeholder: "Нажмите" %>
  </p>
  <%= f.submit %>
  <% end %>
</div>