<nav class="navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <%=link_to("FlatStackTask",root_path,{ class: "navbar-brand" })%>
                </div>
                <div>
                    <ul class="nav navbar-nav" style="padding-left:30px;">
                        <li> <%=link_to "Общий календарь", general_events_path %> </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <% if user_signed_in? %>
                        <li><%=link_to("Редактировать профиль",edit_user_registration_path)%></li>
                        <li><%=link_to("Выйти",destroy_user_session_path, :method => :delete)%></li>
                        <% else %>
                        <li><%=link_to("Войти",new_user_session_path)%></li>
                        <li><%=link_to("Регистрация",new_user_registration_path,)%></li>
                        <%end%>
                    </ul>
                </div>
                
            </div>
        </nav>